//
   Created by lucavgobbi on 3/21/15.

ul(class='photo-grid')
    li(ng-repeat='album in albums')
        a(ui-sref='albumDetails({id: album.name})')
            figure
                img(lvg-caman,
                    lvg-caman-crop-x='{{ album.coverDetails.x }}',
                    lvg-caman-crop-y='{{ album.coverDetails.y }}',
                    lvg-caman-crop-width='{{ album.coverDetails.width }}',
                    lvg-caman-crop-height='{{ album.coverDetails.height }}',
                    id='{{ album.name }}',
                    ng-src='{{ album.cover }}')
                figcaption
                    p {{ album.title }}